.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 70px;
  padding-bottom: 30px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 30px;
}
.text {
  color: black;
  font-size: 48px;
  font-weight: 700;
}
img {
  width: 40px;
  height: 40px;
}
.underline {
  width: 70px;
  height: 6px;
  background: rgb(240,128,128);
  border-radius: 9px;
}
.inputs {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  
}
.input {
  display: flex;
  align-items: center;
  margin: auto;
  width: 480px;
  height: 60px;
  background: #eaeaea;
  border-radius: 6px;
}
.input img {
  margin: 0px 30px;
}
.input input {
  height: 40px;
  width: 400px;
  background: transparent;
  border: none;
  outline: none;
  color: #797979;
  font-size: 30px;
}
.forgot-password {
  padding-left: 430px;
  margin-top: 27px;
  color: #797979;
  font-size: 18px;
}
.forgot-password span {
  color: rgb(240,128,128);
  cursor: pointer;
}
.submit-container {
  display: flex;
  gap: 30px;
  margin: 20px 60px auto;
}
.appear {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 59px;
  color: #fff;
  background: rgb(240,128,128);
  border-radius: 50px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}
.gray {
  background: #EAEAEA;
  color: #676767;
}
span {
  display: flex;
  align-items: center;
  padding-left: 50px;
}
.container {
  border: 2px solid gray;
  width: 600px;
  height: 550px;
}
@media (max-width: 600px) {
  .container {
    padding: 0 15px;
    width: 80%;
  }

  .inputs .input{
    width: 80%;
    padding: 15px;
  }

  .header .text {
    font-size: 5 rem;
  }
}
